{% load static %}

<aside class="sidebar">

    <!-- Brand -->
    <div class="sidebar-brand">

        <div class="brand-icon">
            ⊕
        </div>

        <div class="brand-info">
            <h2>JobTrackr</h2>
            <span>AI-POWERED</span>
        </div>

        <button class="sidebar-collapse" type="button">
            ‹
        </button>

    </div>


    {% comment %} <!-- Add Application -->
    <div class="sidebar-action">

        <a href="#">
            <span class="plus-icon">+</span>
            New Application
        </a>

    </div> {% endcomment %}


    <!-- Navigation -->
    <nav class="sidebar-nav">

        <a href="{% url 'dashboard' %}"
           class="nav-item {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">

            <span class="nav-icon">▦</span>
            <span>Dashboard</span>

        </a>


        <a href="{% url 'application_list' %}"
           class="nav-item {% if request.resolver_match.url_name == 'application_list' %}active{% endif %}">

            <span class="nav-icon">▱</span>
            <span>Applications</span>

        </a>


        <a href="#" class="nav-item ai-link">

            <span class="nav-icon">✦</span>
            <span>AI Analysis</span>

            <small>AI</small>

        </a>

    </nav>


    <!-- User -->
    <div class="sidebar-user">

        <div class="user-avatar">
            {{ request.user.first_name|first|upper }}{{ request.user.last_name|first|upper }}
        </div>

        <div class="user-info">

            <strong>
                {{ request.user.first_name }}
                {{ request.user.last_name }}
            </strong>

            <span>
                {{ request.user.email }}
            </span>

        </div>

        <a href="{% url 'logout' %}" class="logout-btn">
            ↪
        </a>

    </div>

</aside>